<mat-toolbar color='primary' class='header-toolbar'>

  <mat-menu #appMenu='matMenu'>
    <button routerLink='/' mat-menu-item>Home</button>
    <button routerLink='/minecraft' mat-menu-item>Minecraft</button>
    <a href='https://allmylinks.com/lothrazar' mat-menu-item>Socials</a>
  </mat-menu>  
  <button mat-icon-button [matMenuTriggerFor]='appMenu'>
    <mat-icon>more_vert</mat-icon>
  </button>

  <a routerLink='/' class='header-banner desktop-only'>
    <img src='assets/namebanner.png'>
  </a>

  <span class='fill-remaining-space'></span>
        
  <a href='https://discord.lothrazar.net' class='header-mention-button' target='pt' mat-icon-button>
    <img src='assets/Discord-Logo-Black.png'>
  </a>

  <a href='https://github.com/Lothrazar/Lothrazar.net' class='header-mention-button' target='pt' mat-icon-button>
    <img src='assets/github.png'>
  </a>

</mat-toolbar>
