<mat-toolbar color='primary' class='header-toolbar'>

  <a mat-icon-button href='https://discord.lothrazar.net'
      target='pt' class='header-mention-button'>
    <img class='header-patreon' src='assets/Discord-Logo-White.png'>
  </a>

  <a routerLink='/' class='header-banner desktop-only'>
    <img src='assets/namebanner.png'>
  </a>

  <span class='example-fill-remaining-space'></span>
  <span>

  <mat-menu #appMenu='matMenu'>
    <button routerLink='/' mat-menu-item>Home</button>
    <button routerLink='/minecraft' mat-menu-item>Minecraft</button>
    <a href='https://allmylinks.com/lothrazar' mat-menu-item>Socials</a>
  </mat-menu>  
  <button mat-icon-button [matMenuTriggerFor]='appMenu'>
    <mat-icon>more_vert</mat-icon>
  </button>

  </span>
</mat-toolbar>


