<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}! 
  </h1>
  <img width="300" alt="Logo" src="/assets/logo.png">
</div> 


<div 
  fxLayout="row wrap" 
  fxLayout.lt-sm="column" 
  fxLayoutGap="32px" 
  fxLayoutAlign="flex-start">
  <ng-container *ngFor="let mod of mods" >
    <app-mcmod  
    *ngIf="!mod.hidden" 
    fxFlex="0 1 calc(33.3% - 32px)" 
    fxFlex.lt-md="0 1 calc(50% - 32px)"
    fxFlex.lt-sm="100%"
    [mod]="mod"></app-mcmod>
  </ng-container>
</div>
