<section class='header'>
  {{ title }}
</section>
<section class="menu">
  <a href="https://linktr.ee/lothrazar">Linktree</a>
  <a routerLink="/home">Home</a>
  <a routerLink="/minecraft">Minecraft</a>
  <a routerLink="/asthma">Test app</a>
<button mat-button>test</button>

  <mat-menu #appMenu="matMenu">
    <button mat-menu-item>Settings</button>
    <button mat-menu-item>Help</button>
  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>more_vert</mat-icon>
  </button>


</section>
