.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.header-toolbar {
  padding-bottom: 9px;
}

.header-banner img {
  padding-top: 14px;
  height: 50px;
}
