<mat-toolbar color="primary" class="header-toolbar">
  <a href="/" class="header-banner">
    <img src="assets/namebanner.png">
  </a>

  <span class="example-fill-remaining-space"></span>

  <span>
    

  <a mat-icon-button href="https://twitter.com/intent/tweet?screen_name=Lothrazar&ref_src=twsrc%5Etfw" 
    target="twitter" class="header-mention-button">
    <img src="assets/twitter.png">
  </a> 
  <a mat-icon-button href="https://patreon.com/lothrazar"
    target="pt" class="header-mention-button">
    <img class="header-patreon" src="assets/patreon.jpg">
  </a>
  <a mat-icon-button href="https://allmylinks.com/lothrazar"
      target="links">
    <mat-icon>language</mat-icon>
  </a>
  <!--  use this eventually once we have many pages -->
  <!-- <mat-menu #appMenu="matMenu">
    <button routerLink="/home" mat-menu-item>Home</button>
    <button routerLink="/minecraft" mat-menu-item>Minecraft</button>
  </mat-menu>  
  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>more_vert</mat-icon>
  </button> -->

  </span>
</mat-toolbar>


