<mat-toolbar color="primary" class="header-toolbar">
  <a href="/" class="header-banner">
    <img src="assets/namebanner.png">
  </a>

  <span class="example-fill-remaining-space"></span>

  <span>

  <mat-menu #appMenu="matMenu">
    <button routerLink="/home" mat-menu-item>Home</button>
    <button routerLink="/minecraft" mat-menu-item>Minecraft</button>
  </mat-menu>

  <button mat-icon-button (click)="getWindow().open('https://allmylinks.com/lothrazar','links')">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>more_vert</mat-icon>
  </button>

  </span>
</mat-toolbar>


