
.mod-container {
  height: 250px;
  border: 1px solid black;
  border-radius: 8px;
}

.title {
    font-size: 24pt;
    display: inline-block;
}



.github {
    display: inline-block;
    margin-right: 8px;
}
