
.mod-container {
  height: 60px;
  padding: 6px;
}

.mod-title {
  display: inline-block;
  font-size: 24pt;
}

.mod-versions {
  float: right;
}

.mod-versions a { 
  /* width: 24px; 
  width: 24px;  */
}

.mod-logo {
  border: 1px solid black;
  width: 29px;
}
