
.mod-container {
  height: 60px;
  padding: 6px;
}

.mod-title {
  display: inline-block;
  font-size: 24pt;
}

.mod-versions {
  float: right;
}

.mod-versions div {
  display: inline-block;
  /* text-align: center; */
  border-radius: 12px;
  width: 18px;
  color: transparent;
}

.mod-logo {
  border: 1px solid black;
  width: 29px;
}
