
.mod-container {
  height: 60px;
  border: 1px solid black;
  border-radius: 12px;
  padding: 6px;
}

.title {
  display: inline-block;
  font-size: 24pt;
}

.github {
  display: inline-block;
  margin-right: 8px;
}

.versions {
  display: inline-block;
}

.version {
  display: inline-block;
  text-align: center;
  border-radius: 12px;
  width: 70px;
}

.mod-logo {
  width: 20px;
}
