
.mod-container {
  height: 60px;
  padding: 6px;
}

.mat-button {
  max-width: 24px;
}
.title {
  font-size: 26pt!important;
}
.inline {
  display: inline-block;
}

.mod-logo {
  border: 1px solid black;
  width: 29px;
}

.mod-versions {
  float:right;
}
