
<ng-container *ngIf='showButton'>
  <!-- we might not have data -->
  <button mat-button (click)='getGithubData()' >Reload Github</button>
</ng-container>

<br/>
<ng-container *ngIf='pulls'>
  <a href='https://github.com/lothrazar/{{mod.githubId}}/pulls' target='_github'>
    <span>Pull requests: {{pulls?.length}}</span>
  </a>
</ng-container>

<br/>

<ng-container *ngIf='issues'> 
  <a href='https://github.com/lothrazar/{{mod.githubId}}/issues' target='_github'> 
    <span>Issues: {{issues.length}}</span>
    <br/>
    <span *ngIf='unlabelled'>New Issues: {{unlabelled}}</span>
  </a>
</ng-container>