
.minecraft-container {
  display: flex;
  flex-flow: column wrap;
}

.minecraft-item {
  padding: 4px;
  width: 100%;
}

.version {
  text-align: center;
  border: 2px solid black;
  border-radius: 12px;
  width: 70px;
}
