
.minecraft-container {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  list-style: none;

  padding: 0;
  margin: 0;
}


.minecraft-item {
  padding: 5px;
  margin-bottom: 3px;
  width: 300px;
}
