/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@media (min-width:992px) {
    .desktop-only {
        display: block;
    }
 
    .mobile-only {
        display: none !important;
        width: 0 !important;
    }
}
 
@media (max-width: 991px) {
    .mobile-only {
        display: block;
    }
 
    .desktop-only {
        display: none !important;
        width: 0 !important;
    }
}

.version-other {
  background: #E7A245;
  color: white;
}

.version-17 {
  background: #5B5B5B;
  color: white;
}

.version-112 {
  background: #203B91;
  color: white;
}

.version-116 {
  background: #8C1E1E;
  color: white;
}

.version-117 {
  background: #008b8b;
  color: white;
}

.version-118 {
  background: #5D7C15;
  color: white;
}

.version-119 {
  background: #008b8b;
  color: white;
}
